body {
    font-family: Arial, Helvetica, sans-serif;
}

#teste {
    margin: 0 auto;
    width: 800px;
    height: 450px;
}

canvas {
    border: 1px solid black;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}