@font-face {
    font-family: 'Asai-Analogue';
    src: url('../font/Asai-Analogue.ttf') format('truetype');
}

body {
    background-color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    height: 600px;
    background-color: #262626;
    border-radius: 15px;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 6px 6px black;
}

#resultado-display {
    width: 400px;
    height: 80px;
    background-color: darkseagreen;
    border-radius: 15px;
    font-weight: 500;
    color: #262626;
    text-align: end;
    font-family: 'Asai-Analogue', Arial, Helvetica, sans-serif;
}

#resultado {
    margin: 0 15px;
    white-space: pre;
    animation: piscando 1s infinite;
    line-height: 70px;
    font-size: 85px;
}

#resultado-teste {
    text-align: start;
    font-size: 20px;
    display: none;
    margin-top: -10px;
    margin-left: 12px;
}

#mrc-teste {
    text-align: left;
    font-size: 20px;
    display: none;
    margin-top: 0px;
    margin-left: 12px;
}

.div-tabela {
    margin-top: 25px;
    margin-left: -24px;
}

.tabela {
    width: 300px;
    height: 520px;
    margin: 0 auto;
}

button {
    width: 85px;
    height: 85px;
    font-weight: bold;
    font-size: 25px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 6px black;
}

button:active {
    box-shadow: 0 2px black;
    transform: translateY(4px);
}

.numero {
    background-color: #a6a6a6;
    box-shadow: 0 6px #737373;
    border: 1px solid #737373;
}

.numero:active {
    box-shadow: 0 2px #737373;
    transform: translateY(4px);
}

.c {
    background-color: #ff9999;
    border: 1px solid #ff8080;
    box-shadow: 0 6px #ff8080;
}

.c:active {
    box-shadow: 0 2px #ff8080;
    transform: translateY(4px);
}

@keyframes piscando {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

sup {
    vertical-align: super;
    font-size: 15px;
}

#raiz {
    font-family: Cambria;
}
