@font-face {
    font-family: 'Asai-Analogue';
    src: url('../font/Stencil8bit-Regular.otf') format('opentype');
}

body {
    background-color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 300px;
    height: 600px;
    background-color: #262626;
    border-radius: 15px;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 0 6px black;
}

#resultado-display {
    width: 300px;
    height: 80px;
    background-color: darkseagreen;
    border-radius: 15px;
    font-size: 70px;
    font-weight: 500;
    color: #262626;
    text-align: end;
    line-height: 75px;
    font-family: 'Asai-Analogue', Arial, Helvetica, sans-serif;
}

#resultado {
    margin: 0 15px;
    white-space: pre;
}

#resultado-teste {
    text-align: start;
    font-size: 15px;
    display: none;
    margin-top: -40px;
    margin-left: 12px;
}

.div-tabela {
    margin-top: 25px;
    margin-left: -28px;
}

.tabela {
    width: 300px;
    height: 520px;
    margin: 0 auto;
}

button {
    width: 85px;
    height: 85px;
    font-weight: bold;
    font-size: 25px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 6px black;
}

button:hover {
    background-color: #1a1a1a;
}

button:active {
    background-color: #1a1a1a;
    box-shadow: 0 2px black;
    transform: translateY(4px);
}

.numero {
    background-color: #a6a6a6;
    box-shadow: 0 6px #737373;
    border: 1px solid #737373;
}

.numero:hover {
    background-color: #595959;
}

.numero:active {
    background-color: #595959;
    box-shadow: 0 2px #737373;
    transform: translateY(4px);
}

.c {
    background-color: #ff9999;
    border: 1px solid #ff8080;
    box-shadow: 0 6px #ff8080;
}

.c:hover {
    background-color: #ff6666;
}

.c:active {
    background-color: #ff6666;
    box-shadow: 0 2px #ff8080;
    transform: translateY(4px);
}